	<!-- IF S_UCP_EXTLINKNEWWIN -->
	<dl>
		<dt>
			<label for="martin_extlinknewwin_ucp">{L_UCP_EXTLINKNEWWIN_SELECT}{L_COLON}</label><br />
			<span>{L_UCP_EXTLINKNEWWIN_SELECT_EXPLAIN}</span>
		</dt>
		<dd>
			<select name="martin_extlinknewwin_ucp" id="martin_extlinknewwin_ucp">
				<!-- BEGIN martin_extlinknewwin_options -->
				<option value="{martin_extlinknewwin_options.OPTION}"<!-- IF martin_extlinknewwin_options.SELECTED --> selected="selected"<!-- ENDIF -->>{martin_extlinknewwin_options.L_TITLE}</option>
				<!-- END martin_extlinknewwin_options -->
			</select>
		</dd>
	</dl>
	<!-- ENDIF -->
